# This is a basic workflow to help you get started with Actions

name: CI

on: workflow_dispatch

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js 16.20.2
        uses: actions/setup-node@v4
        with:
          node-version: 16.20.2

      - name: Install Yarn classic
        run: npm install -g yarn@1

      - name: Install dependencies
        run: yarn install

      - name: Build app
        run: CI=false yarn build

      - name: Build app
        run: yarn build
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
